.item {
  width: 15rem;
}

.item p{
  text-align: left;
}

.price {
  font-size: 1.5rem;
}

.item-image-container{
  overflow: hidden;
}

.item-image-container img{
  width: 100%;
  height: 15rem;
  transition: 0.3s;
}

.item-image-container img:hover{
  transform: scale(1.15);
  cursor: pointer;
}