.contact {
  margin: 1rem auto;
  width: 70%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(23rem, 1fr));
  grid-gap: 20px;
  text-align: left;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.contact-form-title-text{
  align-self: center;
}

.contact-form input, textarea{
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

.contact-form textarea{
  min-height: 15rem;
}

.contact-form-links{
  font-size: 2rem;
  margin: 1rem auto;
  display: flex;
  flex-direction: row;
}