@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto+Slab:wght@500;800&family=Source+Sans+Pro:wght@400;700&display=swap');


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: #222831;
  min-height: 100vh;
  color: #fff;


}
.centered {
  margin: 3rem auto;
  text-align: center;
}

.column {
  flex-direction: column;
}

.focused {
  font-size: 3rem;
  font-weight: bold;
  color: white;
}

.btn {
  text-decoration: none;
  background-color: transparent ;
  color: white;
  border-radius: 4px;
  padding: 0.75rem 1.5rem;
  border: 1px solid #11acac;
  cursor: pointer;
  font-family: inherit; 
  font-size: 1rem;
}

.btn:hover,
.btn:active {
  background-color: #11acac;
  border-color: #11acac;
}

.btn--flat {
  cursor: pointer;
  font: inherit;
  color: teal;
  border: none;
  background-color: none;
  text-decoration: none;
  padding: 0.75rem 1.5rem;
  border-radius: 4px;
}

.btn--flat:hover,
.btn--flat:active {
  background-color: teal;
  color: white;
}

hr{
  width: 80%;
  border: 1px solid #11acac ;
  margin: 3% auto;
}

a {
  text-decoration: none;
  color: white
}