@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto+Slab:wght@500;800&family=Source+Sans+Pro:wght@400;700&display=swap');


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: #222831;
  min-height: 100vh;
  max-width: 100vw;
  color: #fff;
}
.centered {
  margin: 3rem auto;
  text-align: center;
}

.text-align-center{
  text-align: center;
}

.column {
  flex-direction: column;
}

.focused {
  font-size: 3rem;
  font-weight: bold;
  color: white;
}

hr{
  width: 80%;
  border: 1px solid #11acac ;
  margin: 3% auto;
}

a {
  text-decoration: none;
  color: white
}